/bin
/lib
/CppUnit/obj
/CppUnit/WinTestRunner/obj
/Crypto/obj
/Crypto/samples/genrsakey/obj
/Crypto/testsuite/obj
/Data/MySQL/obj
/Data/MySQL/testsuite/obj
/Data/obj
/Data/ODBC/obj
/Data/ODBC/testsuite/obj
/Data/samples/Binding/obj
/Data/samples/RecordSet/obj
/Data/samples/Tuple/obj
/Data/samples/TypeHandler/obj
/Data/SQLite/obj
/Data/SQLite/testsuite/obj
/Data/testsuite/obj
/Foundation/obj
/Foundation/samples/ActiveMethod/obj
/Foundation/samples/Activity/obj
/Foundation/samples/base64decode/obj
/Foundation/samples/base64encode/obj
/Foundation/samples/BinaryReaderWriter/obj
/Foundation/samples/DateTime/obj
/Foundation/samples/deflate/obj
/Foundation/samples/dir/obj
/Foundation/samples/grep/obj
/Foundation/samples/hmacmd5/obj
/Foundation/samples/inflate/obj
/Foundation/samples/Logger/obj
/Foundation/samples/LogRotation/obj
/Foundation/samples/md5/obj
/Foundation/samples/NotificationQueue/obj
/Foundation/samples/StringTokenizer/obj
/Foundation/samples/Timer/obj
/Foundation/samples/URI/obj
/Foundation/samples/uuidgen/obj
/Foundation/testsuite/obj
/Net/obj
/Net/samples/dict/obj
/Net/samples/download/obj
/Net/samples/EchoServer/obj
/Net/samples/HTTPFormServer/obj
/Net/samples/httpget/obj
/Net/samples/HTTPLoadTest/obj
/Net/samples/HTTPTimeServer/obj
/Net/samples/Mail/obj
/Net/samples/Ping/obj
/Net/samples/TimeServer/obj
/Net/samples/TwitterClient/obj
/Net/samples/WebSocketServer/obj
/Net/testsuite/obj
/NetSSL_OpenSSL/obj
/NetSSL_OpenSSL/samples/download/obj
/NetSSL_OpenSSL/samples/HTTPSTimeServer/obj
/NetSSL_OpenSSL/samples/Mail/obj
/NetSSL_OpenSSL/testsuite/obj
/PageCompiler/File2Page/obj
/PageCompiler/obj
/PageCompiler/samples/HTTPTimeServer/obj
/Util/obj
/Util/samples/pkill/obj
/Util/samples/SampleApp/obj
/Util/samples/SampleServer/obj
/Util/testsuite/obj
/XML/obj
/XML/samples/DOMParser/obj
/XML/samples/DOMWriter/obj
/XML/samples/PrettyPrint/obj
/XML/samples/SAXParser/obj
/XML/testsuite/obj
/Zip/obj
/Zip/samples/unzip/obj
/Zip/samples/zip/obj
/Zip/testsuite/obj
/Crypto/samples/genrsakey/bin
/Crypto/testsuite/bin
/Data/MySQL/testsuite/bin
/Data/ODBC/testsuite/bin
/Data/samples/Binding/bin
/Data/samples/RecordSet/bin
/Data/samples/Tuple/bin
/Data/samples/TypeHandler/bin
/Data/SQLite/testsuite/bin
/Data/testsuite/bin
/Foundation/samples/ActiveMethod/bin
/Foundation/samples/Activity/bin
/Foundation/samples/base64decode/bin
/Foundation/samples/base64encode/bin
/Foundation/samples/BinaryReaderWriter/bin
/Foundation/samples/DateTime/bin
/Foundation/samples/deflate/bin
/Foundation/samples/dir/bin
/Foundation/samples/grep/bin
/Foundation/samples/hmacmd5/bin
/Foundation/samples/inflate/bin
/Foundation/samples/Logger/bin
/Foundation/samples/LogRotation/bin
/Foundation/samples/md5/bin
/Foundation/samples/NotificationQueue/bin
/Foundation/samples/StringTokenizer/bin
/Foundation/samples/Timer/bin
/Foundation/samples/URI/bin
/Foundation/samples/uuidgen/bin
/Foundation/testsuite/bin
/Net/samples/dict/bin
/Net/samples/download/bin
/Net/samples/EchoServer/bin
/Net/samples/HTTPFormServer/bin
/Net/samples/httpget/bin
/Net/samples/HTTPLoadTest/bin
/Net/samples/HTTPTimeServer/bin
/Net/samples/Mail/bin
/Net/samples/Ping/bin
/Net/samples/TimeServer/bin
/Net/samples/TwitterClient/bin
/Net/samples/WebSocketServer/bin
/Net/testsuite/bin
/NetSSL_OpenSSL/samples/download/bin
/NetSSL_OpenSSL/samples/HTTPSTimeServer/bin
/NetSSL_OpenSSL/samples/Mail/bin
/NetSSL_OpenSSL/testsuite/bin
/PageCompiler/bin
/PageCompiler/File2Page/bin
/PageCompiler/samples/HTTPTimeServer/bin
/Util/samples/pkill/bin
/Util/samples/SampleApp/bin
/Util/samples/SampleServer/bin
/Util/testsuite/bin
/XML/samples/DOMParser/bin
/XML/samples/DOMWriter/bin
/XML/samples/PrettyPrint/bin
/XML/samples/SAXParser/bin
/XML/testsuite/bin
/Zip/samples/unzip/bin
/Zip/samples/zip/bin
/Zip/testsuite/bin
ipch/
.vs/
*.suo
*.sdf
*.opensdf
*.aps
*.user